# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
#/dist
# testing
/coverage

# production
/dist

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/**/*.d.ts
# 本地环境变量
.env.local
yarn.lock
yarn.lock
*.lock
*.less.d.ts

.vscode
.idea
